<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.bill.clashformac.helper</string>
    <key>BundleProgram</key>
    <string>Contents/Library/HelperTools/cfw-helper-tombstone</string>
    <key>ProgramArguments</key>
    <array>
        <string>Contents/Library/HelperTools/cfw-helper-tombstone</string>
    </array>
    <key>AssociatedBundleIdentifiers</key>
    <array>
        <string>com.bill.clashformac</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
