<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.bill.clashformac.proxy-agent</string>
	<key>BundleProgram</key>
	<string>Contents/Library/LoginItems/CFWProxyAgent.app/Contents/MacOS/CFWProxyAgent</string>
	<key>MachServices</key>
	<dict>
		<key>com.bill.clashformac.proxy-agent</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
